openapi: 3.0.0
info:
  title: Step Security API
  description: API for interacting with Step Security's services. This API provides comprehensive GitHub Actions security monitoring, GitLab integration, and enterprise management capabilities.
  version: 1.0.0
servers:
- url: https://agent.api.stepsecurity.io/v1
  description: Production API Server
paths:
  /github/{owner}/actions/security-summary:
    get:
      tags:
      - Overview
      summary: Get security summary for your GitHub repositories
      description: Provides an overview of security metrics across all repositories in your organization
      operationId: getSecuritySummary
      parameters:
      - in: path
        name: owner
        description: GitHub Organization
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SecuritySummary'
        '401':
          description: Unauthorized. Invalid or missing token.
        '500':
          description: Internal Server Error
      security:
      - BearerAuth: []
  /github/{owner}/{scope}/actions/controls/{control}:
    get:
      tags:
      - Overview
      summary: Get security control checks data
      description: Retrieve detailed security control checks data for all repositories in the organization for a specific control
      operationId: getControlChecksData
      parameters:
      - in: path
        name: owner
        description: GitHub Organization
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: scope
        description: Scope for the control checks - use '[all]' for all repositories or specific repository name
        required: true
        schema:
          type: string
        example: '[all]'
        style: simple
      - in: path
        name: control
        description: Security control ID
        required: true
        schema:
          type: string
          enum:
          - ActionsWithHighScoresShouldBeUsed
          - SecretsShouldBeRotatedPeriodically
          - EnvironmentSecretsShouldBeUsed
          - SelfHostedRunnerShouldBeHardened
          - GitHubHostedRunnerShouldBeHardened
          - ActionsShouldBePinned
          - OIDCShouldBeUsed
          - SecretsShouldNotBeLoggedInBuildLogs
          - SecretsShouldNotBeLoggedInArtifacts
          - CompromisedNPMPackagesFoundInPR
        example: GitHubHostedRunnerShouldBeHardened
        style: simple
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    owner:
                      description: GitHub organization owner
                      type: string
                    repoWorkflowJobControl:
                      description: Unique identifier for repo/workflow/job/control combination
                      type: string
                    ownerControl:
                      description: Unique identifier for owner/control combination
                      type: string
                    status:
                      description: Control check status
                      type: string
                      enum:
                      - Failed
                      - Passed
                      - Suppressed
                    repo:
                      description: Repository name
                      type: string
                    workflow:
                      description: Workflow file name
                      type: string
                    job:
                      description: Job name
                      type: string
                    step:
                      description: Step name
                      type: string
                    stepNumber:
                      description: Step number
                      type: number
                    lineNumber:
                      description: Line number in workflow file
                      type: number
                    pwnRefs:
                      description: Reference information
                      type: string
                    actions:
                      description: List of actions involved
                      type: array
                      items:
                        type: string
                    control:
                      description: Control identifier
                      type: string
                    secrets:
                      description: Secrets found in build logs
                      type: array
                      items:
                        type: object
                        properties:
                          secret:
                            type: string
                          line_number:
                            type: string
                          rule_id:
                            type: string
                          step_number:
                            type: string
                    secrets_in_artifacts:
                      description: Secrets found in artifacts
                      type: array
                      items:
                        type: object
                        properties:
                          artifact_name:
                            type: string
                          file_path:
                            type: string
                          line_number:
                            type: string
                          rule_id:
                            type: string
                          secret:
                            type: string
                    runId:
                      description: GitHub Actions run ID
                      type: string
                    branch:
                      description: Branch name
                      type: string
                    workflowHTMLURL:
                      description: URL to the workflow on GitHub
                      type: string
                    jobHTMLURL:
                      description: URL to the job on GitHub
                      type: string
                    statusUpdationReason:
                      description: Reason for status update (when suppressed/unsuppressed)
                      type: string
                    statusUpdatedBy:
                      description: User who updated the status
                      type: string
        '400':
          description: Bad Request - Invalid control ID
        '401':
          description: Unauthorized. Invalid or missing token.
        '404':
          description: Control not found
        '500':
          description: Internal Server Error
      security:
      - BearerAuth: []
  /github/{owner}/actions/runs:
    get:
      tags:
      - Harden Runner
      summary: Get workflow runs with security data
      description: |
        List workflow runs across the organization with their runtime
        security summary, ordered by `start_time_utc` descending (latest
        first).

        Combine `limit` with `next_token` to walk through all matching runs
        a page at a time. Use `start_time` / `end_time` to scope the listing
        to a date range.

        ### Caller pattern for "all runs in [start, end]"

        ```
        token = ""
        loop:
          GET /github/{owner}/actions/runs?start_time=S&end_time=E&limit=100&next_token=<token>
          collect items
          token = response.next_token
          if !token: break
        ```

        Because the listing is in descending order, the caller can
        short-circuit once an item predates `start_time`.
      operationId: getRunsDetails
      parameters:
      - in: path
        name: owner
        description: GitHub Organization
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: limit
        description: Page size. Clamped to `[1, 100]` server-side.
        schema:
          default: 30
          type: integer
          minimum: 1
          maximum: 100
        style: form
      - in: query
        name: next_token
        description: |
          Opaque continuation cursor returned in the previous response's
          `next_token` field. Pass it back verbatim to fetch the next
          page. Only meaningful for the same `owner` and filter set —
          changing other query params between calls invalidates it. A
          malformed value yields `400`.
        schema:
          type: string
        style: form
      - in: query
        name: start_time
        description: |
          Lower bound on `workflow_run_created_at`, expressed as a Unix
          epoch in seconds (UTC). Must be non-negative, must not be in the
          future, and must not be more than **90 days** in the past —
          older windows are rejected with `400`.
        schema:
          example: 1704067200
          type: integer
          format: int64
        style: form
      - in: query
        name: end_time
        description: |
          Upper bound on `workflow_run_created_at`, expressed as a Unix
          epoch in seconds (UTC). Must be non-negative and `>= start_time`.
          When omitted, no upper bound is applied.
        schema:
          example: 1735689600
          type: integer
          format: int64
        style: form
      - in: query
        name: is_harden_runner_enabled
        description: When `true`, only return runs that had Harden-Runner enabled on at least one job.
        schema:
          type: boolean
        style: form
      - in: query
        name: detection_type
        description: |
          Limit the listing to runs that produced at least one detection
          of the given type. Values outside the enumerated set are
          rejected.
        schema:
          type: string
          enum:
          - Domain-Blocked
          - New-Outbound-Network-Call
          - Secret-In-Build-Log
          - Source-Code-Overwritten
          - HTTPS-Outbound-Network-Call
          - Action-Uses-Imposter-Commit
          - Suspicious-Network-Call
          - Suspicious-Process-Call
        style: form
      - in: query
        name: runner_name
        description: |
          Limit the listing to the run that includes a job executed on
          the given self-hosted runner. If the runner name has never
          been seen for this owner, the response body is JSON `null`
          with status `200`.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_workflow_runs:
                    description: Advisory item count for the current page. Use `has_more` / `next_token` for pagination termination.
                    type: integer
                  workflow_runs:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkflowRun'
                  next_token:
                    description: Opaque continuation cursor. Pass back as the `next_token` query param to fetch the next page. Empty when the listing is fully drained.
                    type: string
                  has_more:
                    description: '`true` when more pages remain; equivalent to `next_token != ""`.'
                    type: boolean
        '400':
          description: |
            Bad request. Returned for: `start_time` older than 90 days,
            negative or future `start_time`, negative `end_time`,
            `end_time < start_time`, non-positive `limit`, or a malformed
            `next_token` (the body is the specific reason).
        '401':
          description: Unauthorized. Invalid or missing token.
        '500':
          description: Internal Server Error
      security:
      - BearerAuth: []
  /github/{owner}/{repo}/actions/runs:
    get:
      tags:
      - Harden Runner
      summary: Get repository workflow runs
      description: |
        List workflow runs for a single repository with their runtime
        security summary, ordered by `start_time_utc` descending (latest
        first). Same pagination and time-range contract as the org-level
        `GET /github/{owner}/actions/runs` — see that endpoint for the
        caller pattern.
      operationId: getRepoRunsDetails
      parameters:
      - in: path
        name: owner
        description: GitHub Organization
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: repo
        description: Name of the repository
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: limit
        description: Page size. Clamped to `[1, 100]` server-side.
        schema:
          default: 30
          type: integer
          minimum: 1
          maximum: 100
        style: form
      - in: query
        name: next_token
        description: Opaque continuation cursor returned in the previous response's `next_token` field.
        schema:
          type: string
        style: form
      - in: query
        name: start_time
        description: Lower bound on `workflow_run_created_at` (Unix seconds, UTC). Capped at 90 days in the past.
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: end_time
        description: Upper bound on `workflow_run_created_at` (Unix seconds, UTC). Must be `>= start_time`.
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: is_harden_runner_enabled
        description: When `true`, only return runs that had Harden-Runner enabled on at least one job.
        schema:
          type: boolean
        style: form
      - in: query
        name: detection_type
        description: Limit the listing to runs that produced at least one detection of the given type. Values outside the enumerated set are rejected.
        schema:
          type: string
          enum:
          - Domain-Blocked
          - New-Outbound-Network-Call
          - Secret-In-Build-Log
          - Source-Code-Overwritten
          - HTTPS-Outbound-Network-Call
          - Action-Uses-Imposter-Commit
          - Suspicious-Network-Call
          - Suspicious-Process-Call
        style: form
      - in: query
        name: runner_name
        description: Limit the listing to the run that includes a job executed on the given self-hosted runner. If the name has never been seen, the body is JSON `null` with status `200`.
        schema:
          type: string
        style: form
      - in: query
        name: workflow_name
        description: 'Filter by workflow file basename — for `path: .github/workflows/ci.yml`, pass `ci.yml`. Repo-level only.'
        schema:
          example: ci.yml
          type: string
        style: form
      - in: query
        name: branch
        description: Filter by `head_branch`. Repo-level only.
        schema:
          type: string
        style: form
      - in: query
        name: pr_number
        description: Filter to runs associated with the given pull request number. Repo-level only.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_workflow_runs:
                    description: Advisory item count for the current page. Use `has_more` / `next_token` for pagination termination.
                    type: integer
                  workflow_runs:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkflowRun'
                  next_token:
                    description: Opaque continuation cursor. Pass back as the `next_token` query param to fetch the next page. Empty when the listing is fully drained.
                    type: string
                  has_more:
                    description: '`true` when more pages remain; equivalent to `next_token != ""`.'
                    type: boolean
        '400':
          description: Bad request — see the org-level endpoint for the validation rules.
        '401':
          description: Unauthorized. Invalid or missing token.
        '500':
          description: Internal Server Error
      security:
      - BearerAuth: []
  /github/{owner}/{repo}/actions/runs/{runid}:
    get:
      tags:
      - Harden Runner
      summary: Get workflow run insights
      description: Get detailed runtime security insights for a specific workflow run
      operationId: get_github_owner_repo_actions_runs_runid
      parameters:
      - in: path
        name: owner
        description: GitHub Organization
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: repo
        description: Name of the repository
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: runid
        description: The Run ID of the GitHub Actions run
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Successfully retrieved run details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  repo:
                    type: string
                  owner:
                    type: string
                  visibility:
                    type: string
                  jobs:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        run_id:
                          type: string
                        steps:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              status:
                                type: string
        '401':
          description: Unauthorized. Invalid or missing token.
        '500':
          description: Internal Server Error
      security:
      - BearerAuth: []
  /github/{owner}/{repo}/actions/runs/{runid}/jobs/{jobid}/processevents:
    get:
      tags:
      - Harden Runner
      summary: Get process events for a job
      description: |
        Get raw process events captured by Harden-Runner for a specific job in a workflow run.

        The response body is a pre-signed Amazon S3 URL (returned as plain text, not JSON). Issue
        an unauthenticated `GET` against that URL within 5 minutes to download the
        `process_events.json` payload. The pre-signed URL must not be shared with `Authorization`
        headers — the URL itself carries the credentials.

        Typical workflow:
          1. Call `GET /github/{owner}/{repo}/actions/runs/{runid}` to discover the job IDs in the run.
          2. For each job, call this endpoint to obtain a pre-signed URL.
          3. `GET` the pre-signed URL to retrieve the process events JSON.
      operationId: get_github_owner_repo_actions_runs_runid_jobs_jobid_processevents
      parameters:
      - in: path
        name: owner
        description: GitHub organization or user that owns the repository
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: repo
        description: Name of the repository
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: runid
        description: The Run ID of the GitHub Actions run
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: jobid
        description: The Job ID within the workflow run (obtained from the workflow run insights `jobs[].id` field)
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: |
            Successfully generated a pre-signed URL. The body is the URL as plain text
            (no JSON wrapping). `GET` the URL (no `Authorization` header — credentials are
            embedded in the query string) to retrieve a JSON document with the shape:

            ```json
            {
              "type": "RawProcessEvents",
              "payload": {
                "<pid>": {
                  "pid": "string",
                  "ppid": "string",
                  "exe": "string",
                  "working_directory": "string",
                  "arguments": ["string"],
                  "timestamp": "string (RFC3339)"
                }
              },
              "ip_address": "string"
            }
            ```

            Each entry in `payload` is keyed by the process ID (string) and describes a
            single process that ran during the job. Example value:

            ```json
            {
              "pid": "2316",
              "ppid": "2315",
              "exe": "/usr/bin/docker",
              "working_directory": "/home/runner/work/my-repo/my-repo",
              "arguments": ["docker", "pull", "alpine:3.18"],
              "timestamp": "2026-04-25T08:45:12.144Z"
            }
            ```
          content:
            text/plain:
              schema:
                example: https://customer-raw-events-data-277233109775.s3.us-west-2.amazonaws.com/correlate_runs/my-org/my-repo/12345678-events/98765432/process_events.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=300&X-Amz-Signature=...
                description: Pre-signed Amazon S3 URL to download `process_events.json`. Expires in 5 minutes.
                type: string
                format: uri
        '400':
          description: Bad Request - Missing or invalid `owner`, `repo`, `runid`, or `jobid`
        '401':
          description: Unauthorized. Invalid or missing token.
        '500':
          description: Internal Server Error
      security:
      - BearerAuth: []
  /github/{owner}/{repo}/actions/runs/{runid}/jobs/{jobid}/fileevents:
    get:
      tags:
      - Harden Runner
      summary: Get file events for a job
      description: |
        Get raw file events captured by Harden-Runner for a specific job in a workflow run.

        The response body is a pre-signed Amazon S3 URL (returned as plain text, not JSON). Issue
        an unauthenticated `GET` against that URL within 5 minutes to download the
        `file_events.json` payload. The pre-signed URL must not be shared with `Authorization`
        headers — the URL itself carries the credentials.

        Typical workflow:
          1. Call `GET /github/{owner}/{repo}/actions/runs/{runid}` to discover the job IDs in the run.
          2. For each job, call this endpoint to obtain a pre-signed URL.
          3. `GET` the pre-signed URL to retrieve the file events JSON.
      operationId: get_github_owner_repo_actions_runs_runid_jobs_jobid_fileevents
      parameters:
      - in: path
        name: owner
        description: GitHub organization or user that owns the repository
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: repo
        description: Name of the repository
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: runid
        description: The Run ID of the GitHub Actions run
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: jobid
        description: The Job ID within the workflow run (obtained from the workflow run insights `jobs[].id` field)
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: |
            Successfully generated a pre-signed URL. The body is the URL as plain text
            (no JSON wrapping). `GET` the URL (no `Authorization` header — credentials are
            embedded in the query string) to retrieve a JSON document with the shape:

            ```json
            {
              "type": "RawFileEvents",
              "payload": {
                "<absolute_file_path>": [
                  {
                    "exe": "string",
                    "pid": "string",
                    "ppid": "string",
                    "timestamp": "string (RFC3339)"
                  }
                ]
              },
              "ip_address": "string"
            }
            ```

            Each entry in `payload` is keyed by an absolute file path that was written
            during the job, and the value is the list of writes against that path. Example:

            ```json
            {
              "/home/runner/work/my-repo/my-repo/.git/index.lock": [
                {
                  "exe": "/usr/bin/git",
                  "pid": "2342",
                  "ppid": "2232",
                  "timestamp": "2026-04-25T07:17:49.818Z"
                }
              ]
            }
            ```
          content:
            text/plain:
              schema:
                example: https://customer-raw-events-data-277233109775.s3.us-west-2.amazonaws.com/correlate_runs/my-org/my-repo/12345678-events/98765432/file_events.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=300&X-Amz-Signature=...
                description: Pre-signed Amazon S3 URL to download `file_events.json`. Expires in 5 minutes.
                type: string
                format: uri
        '400':
          description: Bad Request - Missing or invalid `owner`, `repo`, `runid`, or `jobid`
        '401':
          description: Unauthorized. Invalid or missing token.
        '500':
          description: Internal Server Error
      security:
      - BearerAuth: []
  /github/{owner}/actions/detections:
    get:
      tags:
      - Harden Runner
      summary: Get runtime security detections
      description: Get runtime security detections for the Organization
      operationId: get_github_owner_actions_detections
      parameters:
      - in: path
        name: owner
        description: GitHub organization or user that owns the repository
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: detection_id
        description: ID of the detection
        required: true
        schema:
          type: string
          enum:
          - Domain-Blocked
          - Source-Code-Overwritten
          - New-Outbound-Network-Call
          - HTTPS-Outbound-Network-Call
          - Secret-In-Build-Log
          - Secret-In-Artifact
          - Harden-Runner-Config-Changed
          - Action-Uses-Imposter-Commit
          - Action-Uses-Commit-From-Non-Default-Branch
          - Privileged-Container
          - Reverse-Shell
          - Suspicious-Network-Call
          - Suspicious-Process-Call
          - Runner-Worker-Memory-Read
          - NPM-Package-Upgrade-To-Suspicious-Version
        example: New-Outbound-Network-Call
        style: form
      - in: query
        name: status
        description: Status of the detection
        required: true
        schema:
          type: string
          enum:
          - new
          - suppressed
          - resolved
        example: new
        style: form
      - in: query
        name: next_token
        description: Token to fetch the next set of detections (for pagination)
        schema:
          default: ''
          type: string
        style: form
      - in: query
        name: limit
        description: Number of results per page
        schema:
          default: 50
          type: integer
          minimum: 1
          maximum: 1000
        example: 100
        style: form
      responses:
        '200':
          description: Successfully retrieved detections
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      detections:
                        nullable: true
                        description: Array of detection objects
                        type: array
                        items:
                          $ref: '#/components/schemas/Detection'
                      has_more:
                        example: false
                        description: Indicates if there are more results available
                        type: boolean
                      next_token:
                        example: ''
                        description: Token to fetch the next page of results
                        type: string
                      count:
                        example: 0
                        description: Total count of detections returned
                        type: integer
              examples:
                empty_response:
                  summary: No detections found
                  value:
                    data:
                      count: 0
                      detections: null
                      has_more: false
                      next_token: ''
                detections_response:
                  summary: Detections with data
                  value:
                    data:
                      count: 1
                      detections:
                      - customer_id_status: new
                        detection: New-Outbound-Network-Call
                        endpoint: api.github.com:443
                        event_id: 21805486855-curl-api.github.com:443-2024-09-28T10:15:30Z
                        expected_outbound_connections: []
                        id: step-security#agent#8967030851#21805486855#New-Outbound-Network-Call#api.github.com:443#2024-09-28T10:15:30Z
                        id_timestamp: step-security#agent#8967030851#21805486855#New-Outbound-Network-Call#api.github.com:443#2024-09-28T10:15:30Z#1727519730
                        is_resolved: false
                        is_suppressed: false
                        job: build-and-test
                        job_id: '30724290278'
                        name: New-Outbound-Network-Call
                        owner: step-security
                        owner_id_status: new
                        owner_repo: step-security/agent
                        owner_repo_id_status: new
                        repo: agent
                        run_attempt: 1
                        run_id: '11045105932'
                        timestamp: 2024-09-28T10:15:30Z
                        tool:
                          name: curl
                          parent: sh
                          sha256: 39c6f0c152cd525a089c6e55c91b0c1e7fb5c25a21d12ade61e85f15417178ad
                        type: New-Outbound-Network-Call
                        workflow_id: '8967030851'
                        workflow_path: .github/workflows/build-and-test.yml
                      has_more: false
                      next_token: ''
        '400':
          description: Bad Request - Invalid detection status or ID or next token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    example: invalid detection status or ID or next token
                    type: string
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      security:
      - BearerAuth: []
    post:
      tags:
      - Harden Runner
      summary: Suppress or resolve runtime security detections
      description: Update detection status by suppressing or resolving runtime security detections for the organization
      operationId: post_github_owner_actions_detections
      parameters:
      - in: path
        name: owner
        description: GitHub organization or user that owns the repository
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                workflow_id:
                  example: '8967030851'
                  description: Workflow ID associated with the detection
                  type: string
                detection:
                  example: step-security#agent#8967030851#21805486855#New-Outbound-Network-Call#api.github.com:443#2024-09-28T10:15:30Z
                  description: Detection ID to update
                  type: string
                suppress:
                  example: true
                  description: Set to true to suppress the detection, false to unsuppress
                  type: boolean
                suppress_reason:
                  example: Expected behavior for this workflow
                  description: Reason for suppressing the detection (optional)
                  type: string
                resolve:
                  example: false
                  description: Set to true to resolve the detection, false to unresolve
                  type: boolean
                resolve_reason:
                  example: Issue has been fixed
                  description: Reason for resolving the detection (optional)
                  type: string
              required:
              - workflow_id
              - detection
            examples:
              suppress_detection:
                summary: Suppress a detection
                description: Mark a detection as suppressed with a reason
                value:
                  detection: <detection>
                  suppress: true
                  suppress_reason: This is an expected network call for our CI/CD pipeline
                  workflow_id: <workflow_id>
              resolve_detection:
                summary: Resolve a detection
                description: Mark a detection as resolved with a reason
                value:
                  detection: <detection>
                  resolve: true
                  resolve_reason: Secret has been rotated and removed from logs
                  workflow_id: <workflow_id>
              unsuppress_detection:
                summary: Unsuppress a detection
                description: Remove suppression from a previously suppressed detection
                value:
                  detection: <detection>
                  suppress: false
                  workflow_id: <workflow_id>
              unresolve_detection:
                summary: Unresolve a detection
                description: Remove resolution from a previously resolved detection
                value:
                  detection: <detection>
                  resolve: false
                  workflow_id: <workflow_id>
        required: true
      responses:
        '200':
          description: Detection status updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: Detection status updated successfully
                    type: string
        '400':
          description: Bad Request - Invalid request body
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    example: invalid body
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    example: unauthorized
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    example: failed to update detection suppression
                    type: string
      security:
      - BearerAuth: []
  /github/{owner}/checks:
    get:
      tags:
      - GitHub Checks
      summary: Get all GitHub Checks for an organization
      description: Retrieve all StepSecurity GitHub Checks (Harden-Runner baseline and Required/Optional Checks) across all repositories in the organization.
      operationId: get_github_owner_checks
      parameters:
      - in: path
        name: owner
        description: GitHub Organization
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: conclusion
        description: Filter by check conclusion (e.g., `success`, `failure`)
        schema:
          type: string
        style: form
      - in: query
        name: start_time
        description: Start time as Unix timestamp (seconds)
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: end_time
        description: End time as Unix timestamp (seconds)
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: check_name
        description: Filter by check name (e.g., `StepSecurity Harden-Runner`, `StepSecurity Required/Optional Checks`)
        schema:
          type: string
        style: form
      - in: query
        name: pr_number
        description: Filter by pull request number
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Successfully retrieved checks data
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      security:
      - BearerAuth: []
  /github/{owner}/{repo}/checks:
    get:
      tags:
      - GitHub Checks
      summary: Get all GitHub Checks for a repository
      description: Retrieve all StepSecurity GitHub Checks for a specific repository.
      operationId: get_github_owner_repo_checks
      parameters:
      - in: path
        name: owner
        description: GitHub Organization
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: repo
        description: GitHub Repository name
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: conclusion
        description: Filter by check conclusion
        schema:
          type: string
        style: form
      - in: query
        name: start_time
        description: Start time as Unix timestamp (seconds)
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: end_time
        description: End time as Unix timestamp (seconds)
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: check_name
        description: Filter by check name
        schema:
          type: string
        style: form
      - in: query
        name: pr_number
        description: Filter by pull request number
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Successfully retrieved checks data
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      security:
      - BearerAuth: []
  /github/{owner}/{repo}/checks/{head_sha}:
    get:
      tags:
      - GitHub Checks
      summary: Get all checks for a specific commit
      description: Retrieve all StepSecurity checks for a specific commit SHA, including check run details, anomalous endpoints, and individual check results.
      operationId: get_github_owner_repo_checks_head_sha
      parameters:
      - in: path
        name: owner
        description: GitHub Organization
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: repo
        description: GitHub Repository name
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: head_sha
        description: Git commit SHA
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Successfully retrieved checks for the commit
          content:
            application/json:
              schema:
                type: object
                properties:
                  checks:
                    type: array
                    items:
                      type: object
                      properties:
                        owner:
                          type: string
                        repo:
                          type: string
                        pr_number:
                          type: integer
                        head_sha:
                          type: string
                        pr_title:
                          type: string
                        pr_user:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                        check_runs:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                description: GitHub check run ID
                                type: integer
                                format: int64
                              check_name:
                                description: e.g., 'StepSecurity Harden-Runner' or 'StepSecurity Required/Optional Checks'
                                type: string
                              check_type:
                                description: e.g., 'harden-runner baseline' or 'required'
                                type: string
                              created_at:
                                type: string
                                format: date-time
                              baseline_check:
                                nullable: true
                                description: Present for harden-runner baseline checks — contains anomalous and blocked endpoints
                                type: array
                                items:
                                  type: object
                                  properties:
                                    check_id:
                                      type: integer
                                      format: int64
                                    anomalous_endpoints:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          workflow:
                                            type: string
                                          workflow_url:
                                            type: string
                                          job_id:
                                            type: string
                                          run_id:
                                            type: string
                                          endpoint:
                                            type: string
                                          is_approved:
                                            type: boolean
                                          approved_by:
                                            type: string
                                          description:
                                            description: Approval comment
                                            type: string
                                    blocked_endpoints:
                                      nullable: true
                                      type: array
                                      items:
                                        type: object
                              conclusion:
                                type: string
                              status:
                                type: string
                              individual_check_results:
                                description: Present for required checks — results of each sub-check
                                type: array
                                items:
                                  type: object
                                  properties:
                                    check_name:
                                      type: string
                                    state:
                                      type: string
                                    success:
                                      type: boolean
                                    error:
                                      type: string
                              check_error:
                                type: string
                        stats:
                          type: object
                          properties:
                            total_checks:
                              type: integer
                            success:
                              type: integer
                            failure:
                              type: integer
                            in_progress:
                              type: integer
                            queued:
                              type: integer
                        approved:
                          type: boolean
                        approved_by:
                          type: string
                        cancelled:
                          type: boolean
                        cancelled_by:
                          type: string
                        conclusion:
                          type: string
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      security:
      - BearerAuth: []
    post:
      tags:
      - GitHub Checks
      summary: Approve or cancel all checks for a commit
      description: |
        Approve or cancel all StepSecurity check runs for a specific commit SHA. This is the primary endpoint used by the dashboard to approve checks of any type (Harden-Runner baseline checks, Required/Optional Checks, etc.). For baseline checks with anomalous endpoints, approval automatically marks all anomalous endpoints as approved and updates the GitHub check run.
      operationId: post_github_owner_repo_checks_head_sha
      parameters:
      - in: path
        name: owner
        description: GitHub Organization
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: repo
        description: GitHub Repository name
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: head_sha
        description: Git commit SHA
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                approved:
                  description: Set to `true` to approve all checks for this commit
                  type: boolean
                cancelled:
                  description: Set to `true` to cancel all checks for this commit
                  type: boolean
                endpoint_approval_comment:
                  example:
                    github.com:443: expected
                    url.com:443: added from tests
                  description: Optional map of endpoint (host:port) to approval comment. Only applicable when `approved` is `true`, anomalous endpoints were detected, and the baseline check has failed.
                  type: object
                  additionalProperties:
                    type: string
            examples:
              approve:
                summary: Approve all checks
                value:
                  approved: true
              approve_with_comments:
                summary: Approve checks with per-endpoint comments (when anomalous endpoints detected and baseline check failed)
                value:
                  approved: true
                  endpoint_approval_comment:
                    github.com:443: expected
                    url.com:443: added from tests
              cancel:
                summary: Cancel all checks
                value:
                  cancelled: true
        required: true
      responses:
        '200':
          description: Checks updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: Check runs updated successfully
                    type: string
        '400':
          description: Bad request — both approved and cancelled cannot be true
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      security:
      - BearerAuth: []
  /github/{owner}/checks/config:
    get:
      tags:
      - GitHub Checks
      summary: Get checks configuration for an organization
      description: Retrieve the GitHub Checks configuration for the organization, including enabled checks, check types, and per-repository settings.
      operationId: getGithubChecksConfig
      parameters:
      - in: path
        name: owner
        description: GitHub Organization
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Successfully retrieved checks configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  enable_baseline_check_for_all_new_repos:
                    nullable: true
                    description: Whether to enable baseline check for all new repositories
                    type: boolean
                  enable_required_checks_for_all_new_repos:
                    nullable: true
                    description: Whether to enable required checks for all new repositories
                    type: boolean
                  enable_optional_checks_for_all_new_repos:
                    nullable: true
                    description: Whether to enable optional checks for all new repositories
                    type: boolean
                  custom_description:
                    description: Custom description shown in check run output
                    type: string
                  checks:
                    type: object
                    properties:
                      npm_package_compromised_updates:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                          type:
                            nullable: true
                            type: string
                            enum:
                            - required
                            - optional
                      npm_package_recent_release_guard:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                          type:
                            nullable: true
                            type: string
                            enum:
                            - required
                            - optional
                          settings:
                            type: object
                            properties:
                              cooldown_period_in_days:
                                description: Number of days a new package release must age before it is allowed
                                type: integer
                              exempted_packages:
                                description: List of npm packages exempted from this check
                                type: array
                                items:
                                  type: string
                      pwn_request_check:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                          type:
                            nullable: true
                            type: string
                            enum:
                            - required
                            - optional
                      script_injection_check:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                          type:
                            nullable: true
                            type: string
                            enum:
                            - required
                            - optional
                  repos:
                    description: Per-repository check settings, keyed by repository name
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        baseline:
                          description: Whether baseline check is enabled for this repository
                          type: boolean
                        run_required_checks:
                          description: Whether required checks are enabled for this repository
                          type: boolean
                        run_optional_checks:
                          description: Whether optional checks are enabled for this repository
                          type: boolean
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      security:
      - BearerAuth: []
    put:
      tags:
      - GitHub Checks
      summary: Update checks configuration for an organization
      description: Update the GitHub Checks configuration for the organization. Accepts the full configuration object.
      operationId: updateGithubChecksConfig
      parameters:
      - in: path
        name: owner
        description: GitHub Organization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enable_baseline_check_for_all_new_repos:
                  nullable: true
                  description: Whether to enable baseline check for all new repositories
                  type: boolean
                enable_required_checks_for_all_new_repos:
                  nullable: true
                  description: Whether to enable required checks for all new repositories
                  type: boolean
                enable_optional_checks_for_all_new_repos:
                  nullable: true
                  description: Whether to enable optional checks for all new repositories
                  type: boolean
                custom_description:
                  description: Custom description shown in check run output
                  type: string
                checks:
                  type: object
                  properties:
                    npm_package_compromised_updates:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                        type:
                          nullable: true
                          type: string
                          enum:
                          - required
                          - optional
                    npm_package_recent_release_guard:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                        type:
                          nullable: true
                          type: string
                          enum:
                          - required
                          - optional
                        settings:
                          type: object
                          properties:
                            cooldown_period_in_days:
                              description: Number of days a new package release must age before it is allowed
                              type: integer
                            exempted_packages:
                              description: List of npm packages exempted from this check
                              type: array
                              items:
                                type: string
                    pwn_request_check:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                        type:
                          nullable: true
                          type: string
                          enum:
                          - required
                          - optional
                    script_injection_check:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                        type:
                          nullable: true
                          type: string
                          enum:
                          - required
                          - optional
                repos:
                  description: Per-repository check settings, keyed by repository name
                  type: object
                  additionalProperties:
                    type: object
                    properties:
                      baseline:
                        description: Whether baseline check is enabled for this repository
                        type: boolean
                      run_required_checks:
                        description: Whether required checks are enabled for this repository
                        type: boolean
                      run_optional_checks:
                        description: Whether optional checks are enabled for this repository
                        type: boolean
            example:
              checks:
                npm_package_compromised_updates:
                  enabled: true
                  type: required
                npm_package_recent_release_guard:
                  enabled: true
                  settings:
                    cooldown_period_in_days: 7
                    exempted_packages:
                    - lodash
                    - express
                  type: optional
                pwn_request_check:
                  enabled: true
                  type: required
                script_injection_check:
                  enabled: true
                  type: required
              custom_description: Security checks enforced by the platform team
              enable_baseline_check_for_all_new_repos: true
              enable_optional_checks_for_all_new_repos: false
              enable_required_checks_for_all_new_repos: true
              repos:
                my-repo:
                  baseline: true
                  run_optional_checks: false
                  run_required_checks: true
        required: true
      responses:
        '200':
          description: Checks configuration updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: GitHub checks config updated successfully
                    type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden — insufficient permissions
        '500':
          description: Internal Server Error
      security:
      - BearerAuth: []
  /github/{owner}/actions/rules:
    get:
      tags:
      - Harden Runner
      summary: Get suppression rules
      description: Retrieve all suppression rules for the organization
      operationId: get_github_owner_actions_rules
      parameters:
      - in: path
        name: owner
        description: GitHub Organization
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Successfully retrieved rules
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      security:
      - BearerAuth: []
    post:
      tags:
      - Harden Runner
      summary: Create suppression rule
      description: Create a new suppression rule
      operationId: post_github_owner_actions_rules
      parameters:
      - in: path
        name: owner
        description: GitHub Organization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                id:
                  type: string
                conditions:
                  type: object
                severity_action:
                  type: object
            examples:
              source_code_overwritten_all_org:
                summary: Source Code Overwritten Rule (all orgs)
                description: Suppress Source-Code-Overwritten detections for specific files
                value:
                  conditions:
                    file: cli.js.cache
                    file_path: src/cache/cli.js.cache
                    job: '*'
                    owner: '*'
                    repo: '*'
                    workflow: '*'
                  id: Source-Code-Overwritten
                  name: Source Code Overwritten rule 1
                  severity_action:
                    type: ignore
              source_code_overwritten_all_repos:
                summary: Source Code Overwritten Rule (all repos of an org)
                description: Suppress Source-Code-Overwritten detections for specific files
                value:
                  conditions:
                    file: cli.js.cache
                    file_path: src/cache/cli.js.cache
                    job: '*'
                    owner: org
                    repo: '*'
                    workflow: '*'
                  id: Source-Code-Overwritten
                  name: Source Code Overwritten rule 2
                  severity_action:
                    type: ignore
              source_code_overwritten_specific_workflow:
                summary: Source Code Overwritten Rule (specific workflow)
                description: Suppress Source-Code-Overwritten detections for specific files
                value:
                  conditions:
                    file: cli.js.cache
                    file_path: src/cache/cli.js.cache
                    job: '*'
                    owner: org
                    repo: admin-ui
                    workflow: build-and-test.yml
                  id: Source-Code-Overwritten
                  name: Source Code Overwritten rule 3
                  severity_action:
                    type: ignore
              network_call_suppression_endpoint:
                summary: Network Call Suppression Rule (endpoint)
                description: Suppress New-Outbound-Network-Call detections based on endpoint
                value:
                  conditions:
                    endpoint: uploads.github.com:443
                    job: '*'
                    owner: '*'
                    process: curl
                    repo: '*'
                    workflow: '*'
                  id: New-Outbound-Network-Call
                  name: New Outbound Network Call rule 1
                  severity_action:
                    type: ignore
              network_call_suppression_ip:
                summary: Network Call Suppression Rule (IP address)
                description: Suppress New-Outbound-Network-Call detections based on IP address
                value:
                  conditions:
                    ip_address: 192.168.54.*
                    job: '*'
                    owner: '*'
                    process: curl
                    repo: '*'
                    workflow: '*'
                  id: New-Outbound-Network-Call
                  name: New Outbound Network Call rule 2
                  severity_action:
                    type: ignore
        required: true
      responses:
        '201':
          description: Rule created successfully
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      security:
      - BearerAuth: []
  /github/{owner}/actions/rules/{rule_id}:
    delete:
      tags:
      - Harden Runner
      summary: Delete suppression rule
      description: Delete an existing suppression rule by its ID
      operationId: delete_github_owner_actions_rules_rule_id
      parameters:
      - in: path
        name: owner
        description: GitHub Organization
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: rule_id
        description: Suppression rule ID to delete
        required: true
        schema:
          type: string
        example: rule-12345-abcd
        style: simple
      responses:
        '200':
          description: rule deleted successfully
        '400':
          description: Rule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: Unauthorized - invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
      security:
      - BearerAuth: []
  /github/{owner}/actions/policies:
    get:
      tags:
      - Harden Runner
      summary: Get Harden-Runner policies
      description: Get Harden-Runner policies stored in the Policy Store
      operationId: get_github_owner_actions_policies
      parameters:
      - in: path
        name: owner
        description: GitHub Organization
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Successfully retrieved policies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Policy'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      security:
      - BearerAuth: []
  /github/{owner}/actions/policies/{policy_name}/attach:
    post:
      tags:
      - Harden Runner
      summary: Attach policy to targets
      description: Attach an existing policy to specific targets (workflows, repositories, organization, or cluster)
      operationId: post_github_owner_actions_policies_policy_name_attach
      parameters:
      - in: path
        name: owner
        description: GitHub Organization
        required: true
        schema:
          type: string
        example: myorg
        style: simple
      - in: path
        name: policy_name
        description: Name of the policy to attach
        required: true
        schema:
          type: string
        example: my-policy
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyAttachmentRequest'
            examples:
              attach_to_workflows:
                summary: Attach to Specific Workflows
                description: Attach policy to specific workflows across multiple repositories
                value:
                  org:
                    apply_to_org: false
                    name: myorg
                    repos:
                    - apply_to_repo: false
                      name: frontend-app
                      workflows:
                      - ci.yml
                      - deploy.yml
                    - apply_to_repo: false
                      name: backend-api
                      workflows:
                      - test.yml
                    - apply_to_repo: false
                      name: shared-libs
                      workflows:
                      - build.yml
              attach_to_repositories:
                summary: Attach to Entire Repositories
                description: Attach policy to all workflows within specific repositories
                value:
                  org:
                    apply_to_org: false
                    name: myorg
                    repos:
                    - apply_to_repo: true
                      name: frontend-app
                    - apply_to_repo: true
                      name: backend-api
                    - apply_to_repo: true
                      name: shared-libs
              attach_to_organization:
                summary: Attach to Entire Organization
                description: Attach policy to entire organization (all repositories and workflows)
                value:
                  org:
                    apply_to_org: true
                    name: myorg
              attach_to_mixed_targets:
                summary: Attach to Mixed Targets
                description: Attach policy to combination of specific workflows and entire repositories
                value:
                  org:
                    apply_to_org: false
                    name: myorg
                    repos:
                    - apply_to_repo: true
                      name: frontend-app
                    - apply_to_repo: false
                      name: backend-api
                      workflows:
                      - ci.yml
                      - security-scan.yml
              attach_to_clusters:
                summary: Attach to Self-Hosted Runner Clusters
                description: Attach policy to specific self-hosted runner clusters
                value:
                  clusters:
                  - production-k8s-cluster
                  - staging-docker-runners
                  - gpu-ml-cluster
        required: true
      responses:
        '200':
          description: Policy attached successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAttachmentResponse'
        '400':
          description: Bad Request - Invalid request format or missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
              examples:
                missing_organization:
                  summary: Missing organization configuration
                  value:
                    error: Either 'org' or 'clusters' must be specified
                invalid_org_structure:
                  summary: Invalid organization structure
                  value:
                    error: Organization name is required when specifying org configuration
                empty_workflows:
                  summary: Empty workflows list
                  value:
                    error: workflows array cannot be empty when apply_to_repo is false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Policy not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '409':
          description: Conflict - Resource already has another policy attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
              examples:
                repository_conflict:
                  summary: Repository has conflicting policy
                  value:
                    message: 'conflict: Repository ''frontend-app'' already has policy ''security-policy'' attached'
                workflow_conflict:
                  summary: Workflow has conflicting policy
                  value:
                    message: 'conflict: Workflow ''frontend-app/ci.yml'' already has policy ''build-policy'' attached'
                cluster_conflict:
                  summary: Cluster has conflicting policy
                  value:
                    message: 'conflict: Cluster ''production-k8s-cluster'' already has policy ''cluster-policy'' attached'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Harden Runner
      summary: Detach policy from targets
      description: Remove attachment from a policy, keeping the policy definition intact
      operationId: delete_github_owner_actions_policies_policy_name_attach
      parameters:
      - in: path
        name: owner
        description: GitHub Organization
        required: true
        schema:
          type: string
        example: myorg
        style: simple
      - in: path
        name: policy_name
        description: Name of the policy to detach
        required: true
        schema:
          type: string
        example: my-policy
        style: simple
      responses:
        '200':
          description: Policy detached successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: Policy detached successfully
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Policy not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
      security:
      - BearerAuth: []
  /github/{owner}/actions/clusters:
    get:
      tags:
      - Harden Runner
      summary: Get self-hosted runners status
      description: Retrieve status and health information for self-hosted runner clusters
      operationId: get_github_owner_actions_clusters
      parameters:
      - in: path
        name: owner
        description: GitHub Organization
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Successfully retrieved cluster status
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      security:
      - BearerAuth: []
  /github/{owner}/{repo}/jobs/baseline:
    get:
      tags:
      - Harden Runner
      summary: Get job-level baselines for a GitHub repository.
      description: |
        Retrieves the baseline status of every workflow job in a repository. If  `all` is supplied for `repo`, the call aggregates job baselines across all repositories under the specified owner.
      externalDocs:
        url: https://docs.stepsecurity.io/harden-runner/baseline
      operationId: get_github_owner_repo_jobs_baseline
      parameters:
      - in: path
        name: owner
        description: GitHub owner or organization name.
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: repo
        description: GitHub Repository name, or `[all]` to fetch job baselines across the entire owner.
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: destination_type
        description: Filter endpoints by destination type. Can be specified multiple times.
        schema:
          type: string
        style: form
      - in: query
        name: search
        description: Case-insensitive filter applied to job name.
        schema:
          type: string
        style: form
      - in: query
        name: status
        description: Filter jobs by baseline status.
        schema:
          type: string
          enum:
          - Creating
          - Changing
          - Stable
          - Unstable
        style: form
      - in: query
        name: workflow_file
        description: Filter jobs by workflow file name. When specified, bypasses the default 100-job limit.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: List of job baselines retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkflowJobRunEndpointAggregation'
              examples:
                job_baselines:
                  summary: Job-level baselines response
                  description: Example response showing baseline data for workflow jobs
                  value:
                  - baseline_status: Stable
                    change_log:
                      last_updated_at: 2024-01-14T09:15:00Z
                      logs:
                      - full_repo_name: step-security/harden-runner
                        new_endpoints:
                        - actions-cache.github.com
                        run_id: 6123456789
                        timestamp: 2024-01-14T09:15:00Z
                    endpoints:
                    - called_by:
                      - runner
                      endpoint: api.github.com
                      first_seen: 2024-01-01T10:00:00Z
                      friendlyName: GitHub API
                      last_seen: 2024-01-15T14:30:00Z
                      total_calls: 45
                    - called_by:
                      - runner
                      endpoint: registry.npmjs.org
                      first_seen: 2024-01-01T10:05:00Z
                      friendlyName: NPM Registry
                      last_seen: 2024-01-15T14:25:00Z
                      total_calls: 23
                    - called_by:
                      - runner
                      endpoint: actions-cache.github.com
                      first_seen: 2024-01-14T09:15:00Z
                      friendlyName: GitHub Actions Cache
                      last_seen: 2024-01-14T09:15:00Z
                      total_calls: 1
                    job: build
                    owner: step-security
                    repo: harden-runner
                    total_workflow_runs: 156
                    total_workflow_runs_since_last_change: 12
                    workflow_file_name: ci.yml
        '400':
          description: Missing or invalid required parameters.
        '401':
          description: Unauthorized.
        '500':
          description: Internal server error.
      security:
      - BearerAuth: []
  /github/{owner}/{repo}/baseline:
    get:
      tags:
      - Harden Runner
      summary: Get baseline for a GitHub repository.
      description: |
        Retrieves the baseline status of a specific GitHub repository.
      externalDocs:
        url: https://docs.stepsecurity.io/harden-runner/baseline
      operationId: get_github_owner_repo_baseline
      parameters:
      - in: path
        name: owner
        description: GitHub owner or organization name.
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: repo
        description: GitHub repository name.
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: page
        description: Page number for pagination (1-based).
        schema:
          default: 1
          type: integer
        style: form
      - in: query
        name: limit
        description: Number of results per page (Max 100).
        schema:
          default: 50
          type: integer
          maximum: 100
        style: form
      - in: query
        name: search
        description: Case-insensitive filter applied to `endpoint`.
        schema:
          type: string
        style: form
      - in: query
        name: destination_type
        description: Filter endpoints by destination type. Can be specified multiple times.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: GitHub repository baseline retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RepoJobRunEndpointAggregation'
                  total_endpoints:
                    example: 42
                    type: integer
              examples:
                repo_baseline:
                  summary: Repository baseline response
                  description: Example response showing paginated baseline data for a repository
                  value:
                    data:
                      baseline_status: Stable
                      change_log:
                        last_updated_at: 2024-01-10T12:00:00Z
                        logs:
                        - full_repo_name: step-security/harden-runner
                          new_endpoints:
                          - uploads.github.com
                          run_id: 7234567890
                          timestamp: 2024-01-10T12:00:00Z
                      endpoints:
                      - called_by:
                        - runner
                        endpoint: api.github.com
                        first_seen: 2023-12-01T09:00:00Z
                        friendlyName: GitHub API
                        last_seen: 2024-01-15T16:45:00Z
                        total_calls: 128
                        total_workflow_runs: 342
                      - called_by:
                        - runner
                        endpoint: registry.npmjs.org
                        first_seen: 2023-12-01T09:15:00Z
                        friendlyName: NPM Registry
                        last_seen: 2024-01-15T16:30:00Z
                        total_calls: 89
                        total_workflow_runs: 298
                      - called_by:
                        - runner
                        endpoint: uploads.github.com
                        first_seen: 2024-01-10T12:00:00Z
                        friendlyName: GitHub Uploads
                        last_seen: 2024-01-10T12:00:00Z
                        total_calls: 1
                        total_workflow_runs: 1
                      owner: step-security
                      repo: harden-runner
                      total_endpoints: 42
                      total_workflow_runs: 342
                      total_workflow_runs_since_last_change: 25
                    total_endpoints: 42
        '400':
          description: Missing or invalid required parameters.
        '401':
          description: Unauthorized.
        '500':
          description: Internal server error.
      security:
      - BearerAuth: []
  /github/{owner}/actions/baseline:
    get:
      tags:
      - Harden Runner
      summary: Get baseline for a GitHub owner or an Organization
      description: |
        Retrieves the baseline status all repositories belonging to the specified GitHub owner. Supports pagination and optional text search over endpoint names.
      externalDocs:
        url: https://docs.stepsecurity.io/harden-runner/baseline
      operationId: get_github_owner_actions_baseline
      parameters:
      - in: path
        name: owner
        description: GitHub owner or organization name.
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: page
        description: Page number for pagination (1-based).
        schema:
          default: 1
          type: integer
        style: form
      - in: query
        name: limit
        description: Number of results per page (Max 100).
        schema:
          default: 50
          type: integer
          maximum: 100
        style: form
      - in: query
        name: search
        description: Case-insensitive filter applied to `endpoint`.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Owner-level baseline data retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/OwnerJobRunEndpointAggregation'
                  total_endpoints:
                    example: 345
                    type: integer
              examples:
                owner_baseline:
                  summary: Owner baseline response
                  description: Example response showing baseline data for an organization
                  value:
                    data:
                      baseline_status: Stable
                      change_log:
                        last_updated_at: 2024-01-12T15:30:00Z
                        logs:
                        - full_repo_name: step-security/secure-repo
                          new_endpoints:
                          - cdn.jsdelivr.net
                          run_id: 8345678901
                          timestamp: 2024-01-12T15:30:00Z
                      endpoints:
                      - called_by:
                        - runner
                        endpoint: api.github.com
                        first_seen: 2023-11-01T08:00:00Z
                        friendlyName: GitHub API
                        last_seen: 2024-01-15T17:20:00Z
                        total_calls: 892
                        total_workflow_runs: 1456
                      - called_by:
                        - runner
                        endpoint: registry.npmjs.org
                        first_seen: 2023-11-01T08:30:00Z
                        friendlyName: NPM Registry
                        last_seen: 2024-01-15T17:15:00Z
                        total_calls: 445
                        total_workflow_runs: 987
                      - called_by:
                        - runner
                        endpoint: downloads.docker.com
                        first_seen: 2023-11-15T10:00:00Z
                        friendlyName: Docker Downloads
                        last_seen: 2024-01-15T16:50:00Z
                        total_calls: 234
                        total_workflow_runs: 654
                      - called_by:
                        - runner
                        endpoint: cdn.jsdelivr.net
                        first_seen: 2024-01-12T15:30:00Z
                        friendlyName: jsDelivr CDN
                        last_seen: 2024-01-12T15:30:00Z
                        total_calls: 1
                        total_workflow_runs: 1
                      owner: step-security
                      total_endpoints: 128
                      total_workflow_runs: 1456
                      total_workflow_runs_since_last_change: 89
                    total_endpoints: 128
        '400':
          description: Missing or malformed query parameters.
        '401':
          description: Unauthorized.
        '500':
          description: Internal error while fetching owner baseline.
      security:
      - BearerAuth: []
  /github/{owner}/actions/clusters/{cluster}/baseline:
    get:
      tags:
      - Harden Runner
      summary: Get baseline for a GitHub ARC cluster
      description: |
        Retrieves the baseline status of a specific GitHub ARC (Actions Runner Controller) cluster. Supports pagination and optional case-insensitive filtering on endpoint names.
      externalDocs:
        url: https://docs.stepsecurity.io/harden-runner/baseline
      operationId: get_github_owner_actions_clusters_cluster_baseline
      parameters:
      - in: path
        name: owner
        description: GitHub organization or owner name.
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: cluster
        description: The target cluster name (e.g., `production`, `dev`).
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: page
        description: Page number for pagination (1-based).
        schema:
          default: 1
          type: integer
        style: form
      - in: query
        name: limit
        description: Maximum number of results per page (Max 100).
        schema:
          default: 50
          type: integer
          maximum: 100
        style: form
      - in: query
        name: search
        description: Optional search term to filter endpoint names (case-insensitive).
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Cluster baseline retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ClusterJobRunEndpointAggregation'
                  total_endpoints:
                    example: 127
                    type: integer
              examples:
                cluster_baseline:
                  summary: Cluster baseline response
                  description: Example response showing baseline data for a GitHub ARC cluster
                  value:
                    data:
                      baseline_status: Stable
                      change_log:
                        last_updated_at: 2024-01-14T11:20:00Z
                        logs:
                        - full_repo_name: enterprise-corp/microservice-a
                          new_endpoints:
                          - cache.redis.com
                          run_id: 9456789012
                          timestamp: 2024-01-14T11:20:00Z
                      cluster_name: production
                      customer_name: enterprise-corp
                      endpoints:
                      - called_by:
                        - runner
                        endpoint: api.github.com
                        first_seen: 2023-10-01T07:00:00Z
                        friendlyName: GitHub API
                        last_seen: 2024-01-15T18:45:00Z
                        total_calls: 1205
                        total_workflow_runs: 2847
                      - called_by:
                        - runner
                        endpoint: registry.npmjs.org
                        first_seen: 2023-10-01T07:30:00Z
                        friendlyName: NPM Registry
                        last_seen: 2024-01-15T18:30:00Z
                        total_calls: 678
                        total_workflow_runs: 1923
                      - called_by:
                        - runner
                        endpoint: storage.googleapis.com
                        first_seen: 2023-10-15T09:00:00Z
                        friendlyName: Google Cloud Storage
                        last_seen: 2024-01-15T18:15:00Z
                        total_calls: 345
                        total_workflow_runs: 1234
                      - called_by:
                        - runner
                        endpoint: cache.redis.com
                        first_seen: 2024-01-14T11:20:00Z
                        friendlyName: Redis Cache
                        last_seen: 2024-01-14T11:20:00Z
                        total_calls: 1
                        total_workflow_runs: 1
                      environment_type: arc
                      total_endpoints: 90
                      total_workflow_runs: 2847
                      total_workflow_runs_since_last_change: 156
                    total_endpoints: 90
        '400':
          description: Missing or invalid required parameters.
        '401':
          description: Unauthorized.
        '500':
          description: Internal server error while fetching cluster baseline.
      security:
      - BearerAuth: []
  /github/{owner}/actions/aggregate-endpoints:
    delete:
      tags:
      - Harden Runner
      summary: Remove a job-level endpoint from the baseline
      description: |
        Removes a specific job-level endpoint from the baseline.
      externalDocs:
        url: https://docs.stepsecurity.io/harden-runner/baseline
      operationId: delete_github_owner_actions_aggregate_endpoints
      parameters:
      - in: path
        name: owner
        description: GitHub owner or organization name.
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: repo
        description: GitHub repository name.
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: workflow
        description: Workflow file or name.
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: job
        description: Workflow job name.
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: endpoint
        description: Endpoint to be removed from job-level baseline.
        required: true
        schema:
          type: string
        style: form
      responses:
        '204':
          description: Endpoint successfully removed from job-level baseline.
        '400':
          description: Missing or invalid required parameters.
        '401':
          description: Unauthorized.
        '500':
          description: Internal server error.
      security:
      - BearerAuth: []
  /github/{owner}/{repo}/policy-driven-pr/configs:
    get:
      tags:
      - Orchestrate Security
      summary: Get policy-driven pull request configured for org/repo
      description: Retrieve pull requests created by security policies
      operationId: get_github_owner_repo_policy_driven_pr_configs
      parameters:
      - in: path
        name: owner
        description: GitHub Organization Name
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: repo
        description: GitHub Repo Name.(can specify '[all]' to get configuration at org level)
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Successfully retrieved policy-based PRs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PolicyDrivenPRConfig'
              examples:
                repoLevelConfig:
                  summary: Repository-level configuration
                  value:
                  - full_repo_name: step-security/.github
                    policy_driven_pr_configuration:
                      control_checks_config:
                        ActionsShouldBePinned:
                          trigger_github_issue: false
                          trigger_github_pr: true
                        GitHubHostedRunnerShouldBeHardened:
                          trigger_github_issue: true
                          trigger_github_pr: false
                        UpdateDependabotFile:
                          trigger_github_issue: true
                          trigger_github_pr: false
                      control_settings:
                        actions_to_replace:
                          dorny/paths-filter: step-security/paths-filter
                          softprops/action-gh-release: step-security/action-gh-release
                        apply_issue_pr_config_for_all_repos: false
                        exempted_actions:
                        - actions/*
                        - github/*
                        exempted_images:
                        - ubuntu:latest
                        package_ecosystem:
                        - interval: daily
                          package: github-actions
                        pin_to_immutable: true
                        update_precommit_file:
                          gitleaks: true
                          shellcheck: true
                          trailing-whitespace: true
                      trigger_github_alert: false
                      trigger_pr_instead_of_issue: false
                      use_org_level_config: false
                      use_repo_level_config: true
                    pr_status:
                      additional_info: PR will be created in 15 minutes
                      last_updated: 2025-01-21T16:59:19.746810782Z
                      owner: step-security
                      repo: .github
                      status: QUEUED
                orgLevelConfig:
                  summary: Organization-level configuration (using [all])
                  value:
                  - full_repo_name: step-security/[all]
                    policy_driven_pr_configuration:
                      control_checks_config:
                        ActionsShouldBePinned:
                          trigger_github_issue: true
                          trigger_github_pr: false
                        MaintainedGitHubActionsShouldBeUsed:
                          trigger_github_issue: true
                          trigger_github_pr: false
                      control_settings:
                        apply_issue_pr_config_for_all_repos: true
                        exempted_actions:
                        - actions/*
                        pin_to_immutable: false
                      trigger_github_alert: true
                      trigger_pr_instead_of_issue: false
                      use_org_level_config: true
[...]
